.account {

    .page-header {
        margin-bottom: 20px;
    }

    // these probably won't be necessary with twig -- just add --active class directly
    &--dashboard .section-menu__item--dashboard,
    &--profile .section-menu__item--profile,
    &--preferences .section-menu__item--preferences,
    &--groups .section-menu__item--groups,
    &--buddy-ignore .section-menu__item--buddy-ignore,
    &--attachments .section-menu__item--attachments,
    &--drafts .section-menu__item--drafts,
    &--subscriptions .section-menu__item--subscriptions {
        @extend .section-menu__item--active;
    }
}

.form {

    .form__section__container.change-avatar {

        .avatar-profile-link {
            float: $right;
            margin: side-values(0 0 20px 20px);
            @include avatar(100);
        }

        .change-avatar__description {
            padding: side-values(0 0 0 5px);
            margin: side-values(0 0 10px 0);
            font-size: 0.9em;
            color: $alt-font-color-1;
        }
    }
}

.dashboard__account {
    padding: side-values(20px 20px 20px 140px);
    border: 1px solid $border-1;
    border-radius: 4px;
    @include clearfix();

    .avatar-profile-link {
        float: $left;
        display: block;
        margin: side-values(0 0 0 -120px);
        @include avatar(100);
    }

    .dashboard__account__username {
        margin: side-values(0 0 6px 0);
    }
}
