.forum {
    padding: 12px 12px;

    @include bp-medium {
        display: flex;
        justify-content: space-between;
        align-items: top;
        flex-direction: row;
    }

    &__info {
        padding: side-values(5px 0 5px 38px);
        box-sizing: border-box;
    }

    &__status {
        float: $left;
        margin-top: 0px;
        margin-#{$left}: -32px;
        color: $alt-font-color-3;

        &.forum__status--on {
            color: $dark-background-2;
        }
    }

    &__title {
        margin: 0;
        font-size: 1em;
    }

    &__description {
        font-size: 0.8em;
        margin: 0;
        padding: side-values(6px 0 0 0);
        color: $alt-font-color-4;
    }

    &__moderators {
        font-size: 0.8em;
        color: $alt-font-color-2;
        margin: side-values(6px 0 0 0);

        a {
            color: $alt-font-color-1;
        }
    }

    &__subforums {
        list-style: none;
        margin: side-values(6px 0 0 0);
        padding: 0;
        font-size: 0.8em;
    }

    &__subforum {
        display: inline-block;
        margin: side-values(0 15px 0 0);

        &__status {
            color: $alt-font-color-3;
            font-size: 10px;
            margin-#{$right}: 3px;

            &.subforum_minion {
                color: $dark-background-2;
            }
        }
    }

    &__stat {
        display: none;
    }

    &__count-legend {
        display: block;
        color: $alt-font-color-3;
        font-size: 0.7em;
        text-transform: lowercase;
    }

    &__count {
        color: $alt-font-color-1;
    }

    &__unapproved-count {
        background: $background-2;
        color: $alt-font-color-1;
        border-radius: 2px;
        padding: 1px 4px;
        font-weight: normal;
        font-size: 0.7em;
        text-decoration: none;
    }

    &__latest {
        margin-top: 6px;
        margin-#{$left}: 28px;
        padding: 8px 10px;
        background: $background-1;
        border-radius: $radius;
        box-sizing: border-box;

        &--never {
            padding-#{$left}: 10px;
        }

        .avatar-profile-link {
            float: $right;
            @include avatar(40);
        }
    }

    &__subject {
        display: block;
        margin: 0;
        padding: 0;
        font-weight: normal;
        font-size: 0.9em;
    }

    &__date,
    &__author {
        display: block;
        font-size: 0.8em;
        color: $alt-font-color-2;
        margin: 0;

        a {
            color: $alt-font-color-1;
        }
    }

    &.forum--highlight {
        background-color: $status-highlight;
        border-color: $status-highlight-border;
    }
}

.forum-list--full-width {

    @include bp-medium {

        .forum {
            flex-direction: row;

            &__info {
                flex: 1 0 40%;
            }

            &__stat {
                display: block;
                text-align: center;
                flex: 0 0 6%;
                min-width: 90px;
                padding: 10px 0;
            }

            &__latest {
                background: transparent;
                min-width: 220px;
                max-width: 280px;
                flex: 0 0 28%;
                margin: side-values(0 0 0 20px);
                padding: side-values(0 0 0 52px);
                box-sizing: border-box;

                .avatar-profile-link {
                    float: $left;
                    margin: side-values(8px 0 0 -52px);
                }

                &--never {
                    padding: 20px 0;
                }
            }

            &--offlink {

                .forum__info {
                    width: 100%;
                }
            }
        }
    }
}

.block--container {

    .forum-list {
        padding: 0 6px;

        .forum:last-child {
            border-bottom: 0;
        }
    }
}

.forum-tools {
    flex-direction: column;
    justify-content: center;

    @include bp-large {
        flex-direction: row;
        justify-content: space-between;
    }

    &__item {
        box-sizing: border-box;
        width: 100%;
        margin: 0;

        &.forum-search {
            margin-bottom: 15px;

            @include bp-large {
                margin-bottom: 0;
            }
        }

        @include bp-large {
            width: auto;
        }
    }
}
