.forum-list {

    .forum {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: 12px;
        line-height: 1.4;
        border-bottom: 1px solid $border-2;

        @include bp-medium {
            flex-direction: row;
        }

        &__info {
            padding-#{$left}: 26px;
            width: 100%;
            box-sizing: border-box;
        }

        &__status {
            float: $left;
            margin-top: 3px;
            margin-#{$left}: -26px;
            color: $alt-font-color-3;

            &.forum__status--on {
                color: $dark-background-2;
            }
        }

        &__title {
            margin: side-values(0 0 4px 0);
            font-size: 1em;
        }

        &__description {
            font-size: 0.8em;
            margin: 0;
            padding: side-values(2px 0 0 0);
            color: $alt-font-color-4;
        }

        &__subforums {
            list-style: none;
            margin: side-values(6px 0 0 0);
            padding: 0;
            font-size: 0.8em;
        }

        &__subforum {
            display: inline-block;
            margin: side-values(0 15px 0 0);

            &__status {
                color: $alt-font-color-3;
                font-size: 10px;
                margin-#{$right}: 3px;

                &.subforum_minion {
                    color: $dark-background-2;
                }
            }
        }

        &__topic {
            width: 100%;
            margin-top: 6px;
            padding: side-values(10px 0 0 48px);
            border-top: 1px dotted $border-1;
            box-sizing: border-box;

            .avatar-profile-link {
                float: $left;
                margin: side-values(0 0 0 -48px);
                @include avatar(36);
            }

            &__title {
                display: block;
                margin: 0;
                padding: 0;
                font-weight: normal;
                font-size: 0.9em;
            }

            &__post {
                display: block;
                font-size: 0.8em;
                color: $alt-font-color-2;
                margin: 0;

                a {
                    color: $alt-font-color-1;
                }
            }
        }

        &.forum--highlight {
            background-color: $status-highlight;
            border-color: $status-highlight-border;
        }
    }

    &--full-width {

        @include bp-medium {

            .forum {

                &__info {
                    width: 60%;
                }

                &__topic {
                    width: 35%;
                    border: none;
                    margin: 0;
                    padding: side-values(4px 0 0 48px);
                    box-sizing: border-box;
                }
            }

        }
    }

    &--compact {

        &__category {
            border-bottom: 1px solid $border-1;
            padding: 8px 12px;

            &__title {
                margin: 0;
                font-size: 1em;
            }

            &__forums {
                list-style: none;
                margin: 0;
                padding: side-values(0 0 0 15px);
                font-size: 0.9em;
            }

            &:last-child {
                border-bottom: 0;
            }
        }
    }
}

.block--container {

    .forum-list {
        padding: 0 6px;

        .forum:last-child {
            border-bottom: 0;
        }
    }
}
