.ban-duration {
    font-size: 0.9em;
    margin-#{$left}: 4px;
    color: $alt-font-color-1;

    &--imminent {
        color: $danger-color;
        font-weight: bold;
    }

    &--high {
        color: $danger-color;
    }

    &--moderate {
        color: $moderate-color;
    }

    &--low {
        color: $success-color;
    }
}


.imminent_banned {
    color: #800
}

.high_banned {
    color: #F00
}

.moderate_banned {
    color: #F60
}

.low_banned {
    color: #008000
}
