.thread {
    clear: both;
}

.post {
    background-color: $background-default;
    border: 1px solid $border-1;
    padding: 8px 12px;
    margin-bottom: 25px;
    border-radius: 4px;

    @include bp-small {
        margin-#{$left}: 80px;
    }

    @include bp-medium {
        margin-#{$left}: 110px;
    }

    &__meta {
        padding: side-values(4px 6px 12px 6px);

        @include bp-small {
            padding: side-values(4px 6px 8px 6px);
        }
    }

    &__author {
        font-size: 1em;
        margin: 0;

        @include bp-small {
            display: inline-block;
        }
    }

    &__date,
    &__topic {
        font-size: 0.8em;
        color: $alt-font-color-1;

        &:link,
        &:visited {
            color: $alt-font-color-1;
        }

        @include bp-small {
            margin: side-values(0 0 0 10px);
        }
    }

    &__edit-log {
        font-size: 0.7em;
        margin-#{$left}: 4px;
    }

    &__status {
        margin-#{$left}: 16px;
        font-size: 0.8em;
        font-weight: bold;

        &.icon:before {
            color: $alt-font-color-1;
            font-size: 14px;
            margin-#{$right}: 3px;
        }
    }

    &__ip-address {
        float: $right;
        margin: side-values(6px 0 0 0);

        &:link,
        &:visited {
            color: $alt-font-color-2;
        }

        &:hover {
            color: $secondary-color;
        }
    }

    &__inline-mod {
        float: $right;
        margin: side-values(-20px 0 0 10px);

        @include bp-small {
            margin-top: 7px;
        }
    }

    &__toggle {
        float: $right;
        font-size: 14px;
        margin: side-values(1px 1px 0 0);

        i {
            @include black-transparency(0.2);
        }

        &:hover i {
            @include black-transparency(0.4);
        }

        @include bp-medium {
            margin-#{$right}: 5px;
        }
    }

    &__badge {
        display: none;

        @include bp-medium {
            display: inline;
        }
    }

    .avatar-profile-link {
        float: $left;
        margin: side-values(5px 10px 0 0);
        @include avatar(40);

        @include bp-small {
            float: $left;
            margin: side-values(-13px 0 0 -100px);
            @include avatar(70);
        }

        @include bp-medium {
            margin-#{$left}: -130px;
            @include avatar(100);
        }
    }

    &__body {
        padding: side-values(0 6px 3px 6px);

        p {
            font-size: 0.9em;
            margin: 0;
        }

        img {
            max-width: 100%;
        }

        blockquote {
            border-left: 2px solid $primary-color;
            padding: 10px 20px;
            margin: 20px 12px;
            font-size: 0.9em;

            cite {
                font-weight: normal;
                font-size: normal;
                color: $alt-font-color-1;
                display: block;

                .quote-author {
                    font-weight: bold;
                    color: $font-color;
                }

                .quote-date {
                    color: $alt-font-color-4;
                }
            }
        }
    }

    &__signature {
        border-top: 1px dotted $border-2;
        padding: side-values(6px 6px 0 6px);
        margin: side-values(12px 0 0 0);
        font-size: 0.8em;
    }

    &__controls {
        list-style: none;
        margin: 0;
        padding: 4px;
        text-align: $right;

        &__item {
            display: inline-block;
            font-size: 0.8em;

            &__link {
                color: $alt-font-color-2;
                padding: 0 5px;
                background-color: transparent;
                border: none;
                font-size: 1.1em;

                &:link,
                &:visited {
                    color: $alt-font-color-2;
                }

                &:hover {
                    color: $secondary-color;
                    text-decoration: none;
                    cursor: pointer;
                }

                &.icon:before {
                    margin-#{$right}: 0;
                }

                &.postbit_multiquote_on {
                    color: $secondary-color;
                    // background: $background-1;
                    // border-radius: $radius;
                }
            }

            &.post__controls__item--like,
            &.post__controls__item--quote,
            &.post__controls__item--approve,
            &.post__controls__item--restore {
                float: $left;

                .text {
                    display: inline;
                    margin-#{$left}: 6px;
                }

                .quote-button {

                    .quote-button__remove {
                        display: none;
                    }
                }
            }
        }

        .text {
            // display: none;
            font-size: 0.9em;
            margin-#{$left}: 6px;
        }
    }

    &__likes {
        font-size: 0.8em;
        padding: side-values(8px 8px 4px 8px);
        margin: side-values(8px 0 0 0);
        border-top: 1px solid $border-1;
        color: $alt-font-color-2;

        i {
            margin-#{$right}: 5px;
        }

        a {
            color: $alt-font-color-1;
        }
    }

    &--highlight {
        background-color: $status-highlight;
        border-color: $status-highlight-border;
    }

    &--soft-deleted {
        background-color: $status-deleted;
        border-color: $status-deleted-border;
    }

    &--pending-approval {
        background-color: $status-pending;
        border-color: $status-pending-border;
    }

    &--hidden {

        @include bp-small {

            .avatar-profile-link {
                margin-#{$left}: -80px;
                @include avatar(50);
            }
        }

        .post__meta {
            padding-bottom: 2px;
        }

        .post__body,
        .post__controls {
            display: none;
        }
    }

    &--conversation {

        @include bp-medium {
            margin-#{$left}: 80px;

            .avatar-profile-link {
                margin-#{$left}: -100px;
                @include avatar(70);
            }
        }
    }
}

.thread-pagination {

    &--bottom {
        margin: side-values(0 0 25px 0);

        @include bp-medium {
            padding-#{$left}: 110px;
        }

        .pagination {
            float: none;
        }
    }
}

.quick-quote {
    display: none;
    background: $alt-font-color-4;
    color: $invert-font-color;
    border-radius: 4px;
    font: 12px $font-stack;
    padding: 6px 4px;
    position: absolute;
    z-index: 1001;

    span {
        cursor: pointer;
        margin: 0 6px;

        &:hover {
            text-decoration: underline;
        }
    }

    &:before {
        content: ' ';
        position: absolute;
        bottom: -6px;
        left: 50%;
        margin-left: -6px;
        border-top: 6px solid $alt-font-color-4;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
    }
}

.quote-bar {
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 4px;
}

.view-quotes {
    left: 10%!important;
    width: 80%!important;
    margin-left: 0!important;

    &__quotes {
        overflow: auto;
        padding: side-values(15px 15px 0 15px);
        margin: 0;
    }

    &__select-all {
        bottom: 0;
        margin: 0;
        padding: 6px 0;
        background: $background-2;
        border-top: 1px solid $border-1;
        text-align: center;
    }
}

.user-status {
    display: inline-block;
    font-size: 10px;
    vertical-align: middle;
    margin-#{$left}: 2px;

    &--offline {
        color: $alt-font-color-3;
    }

    &--online {

        .user-status__link {
            color: $success-color;
        }
    }

    &--away {

        .user-status__link {
            color: $danger-color;
        }
    }
}

.editor_control_bar {
    display: none;
    @include container;
    font-size: 0.9em;
    margin: 5px;
}
