.smilie-list {

    &__legend {

        .smilie-list__name {
            margin-#{$left}: 64px;
        }
    }

    &__item {
        .smilie-list__smilie {
            min-width: 50px;
            text-align: center;
            flex: 0 0 50px;
        }

        .smilie-list__name {
            margin-#{$left}: 14px;
            flex: 1 0 auto;
        }

        .smilie-list__replace {
            flex: 1 0 auto;
            text-align: $right;

            &--no-name {
                text-align: $left;
                margin-#{$left}: 14px;
            }
        }
    }
}
