.thread-list {

    &__announcements,
    &__sticky-threads {
        border-bottom: 3px solid $border-1;
    }

    &__select-all {
        padding: 12px;
        text-align: center;
        border-bottom: 3px solid $border-1;
        display: none;
    }

    .sort-threads {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 8px 12px;
        font-size: 0.9em;
        color: $alt-font-color-2;
        background: $background-3;
        border-radius: $radius;

        @include bp-small {
            padding: side-values(8px 12px 8px 40px);
        }

        &--alt {
            background: none;
            border-bottom: 1px solid $border-1;
            border-radius: 0;
        }

        &__link {

            &:link,
            &:visited {
                color: $alt-font-color-1;
            }

            &:hover {
                color: $secondary-color;
                text-decoration: none;
            }
        }

        &__order {
            margin-#{$left}: 2px;

            a:link,
            a:visited {
                color: $alt-font-color-1;
            }

            a:hover,
            a:active {
                color: $secondary-color;
            }
        }

        &__column {

            &--latest {

                @include bp-medium-max {
                    text-align: $right;
                }
            }
        }

        // Hide sort by author link on small screens
        &__author {

            @include bp-medium-max {
                display: none;
            }
        }
    }

    // Column widths
    .sort-threads__column,
    .thread__column {
        box-sizing: border-box;

        &--primary {
            // background: red;
            width: 50%; // width overridden under .thread below

            @include bp-small {
                width: 53%;
                padding-#{$right}: 12px;
            }

            @include bp-large {
                width: 58%;
            }
        }

        &--replies {
            // background: green;
            display: none;

            @include bp-medium {
                display: block;
                width: 12%;
                text-align: center;
            }
        }

        &--latest {
            // background: blue;
            width: 42%; // width overridden under .thread below

            @include bp-small {
                width: 45%;
                padding-#{$left}: 12px;
            }

            @include bp-medium {
                width: 33%;
            }

            @include bp-large {
                width: 27%;
            }
        }

        &--checkbox {
            width: 8%;
            text-align: right;

            @include bp-small {
                width: 3%;
                text-align: center;
            }
        }
    }

    .thread {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-#{$left}: 66px;
        flex-direction: column;
        position: relative;

        &:last-child {
            border-bottom: none;
        }

        @include bp-small {
            flex-direction: row;
            align-items: center;
            padding-#{$left}: 40px;
        }

        &__column {
            // Column widths handled above

            &--primary,
            &--latest {

                @include bp-small-max {
                    width: 100%;
                }
            }

            &--checkbox {

                @include bp-small-max {
                    position: absolute;
                    top: 12px;
                    right: 12px;
                }
            }
        }

        &.trow_selected { // &--selected
            background-color: $status-highlight;
            // border-color: $status-highlight-border;
        }

        &--soft-deleted {
            background-color: $status-deleted;
            border-color: $status-deleted-border;
        }

        &--pending-approval {
            background-color: $status-pending;
            border-color: $status-pending-border;
        }

        a.thread__status {
            vertical-align: top;
            display: inline-block;
            color: $dark-background-1;
            font-size: 0.8em;
            margin-top: 1px;
            margin-#{$left}: 6px;

            @include bp-small {
                float: $left;
                // margin-top: 2px;
                margin-#{$left}: -25px;
            }
        }

        &__title {
            margin: 0;
            font-size: 1em;
            font-weight: normal;
        }

        &--unread {

            .thread__title {
                font-weight: bold;
            }
        }

        &--announcement {

            .thread__title,
            .thread__author {
                display: inline-block;
            }

            .thread__status {
                float: $left;
                margin-top: 12px;
                margin-#{$left}: -42px;

                @include bp-small {
                    margin-top: 0;
                    margin-#{$left}: -28px;
                }
            }
        }

        &__author {
            display: none;
            margin: side-values(3px 0 0 0);
            margin-top: 3px;
            font-size: 0.8em;
            color: $alt-font-color-2;

            @include bp-small {
                display: block;
            }

            a:link,
            a:visited {
                color: $alt-font-color-1;
            }
        }

        &__notification {
            margin: side-values(3px 0 0 0);
            font-size: 0.8em;
        }

        &__icons {
            float: $right;
            color: $alt-font-color-2;
            font-size: 14px;
            margin-#{$left}: 16px;
        }

        &__icon {
            display: inline-block;
            margin-#{$left}: 2px;

            &--sticky {
                color: $secondary-color;
            }
        }

        &__pages {
            float: $right;
            margin-top: 3px;
            font-size: 0.8em;
        }

        &__page-legend {
            color: $alt-font-color-1;
            margin-#{$right}: 2px;
        }

        &__page-link {
            background: $background-1;
            border-radius: $radius - 1;
            text-decoration: none;
            padding: 1px 5px;
            margin: 0 1px;
            display: inline-block;

            &:hover,
            &:active {
                background: $secondary-color;
                color: $invert-font-color;
            }
        }

        &__replies {
            margin: 0;
        }

        &__reply-legend {
            display: block;
            color: $alt-font-color-3;
            font-size: 0.7em;
            text-transform: lowercase;
        }

        &__reply-count {
            color: $alt-font-color-1;
        }

        &__unapproved-replies {
            background: $danger-color;
            color: $invert-font-color;
            border-radius: 2px;
            padding: 1px 4px;
            font-weight: normal;
            font-size: 0.7em;
            text-decoration: none;
        }

        &__latest-post {
            margin: 0;
            display: inline-block;

            @include bp-small {
                display: block;
            }

            .avatar-profile-link {
                position: absolute;
                top: 12px;
                left: 8px;
                @include avatar(44);

                @include bp-small {
                    position: static;
                    float: $left;
                    display: inline-block;
                    margin: side-values(0 12px 0 0);
                }
            }

            &__text {
                display: inline;
                font-size: 0.8em;
                color: $alt-font-color-2;

                @include bp-small {
                    @include visually-hidden;
                }
            }

            &__author {
                display: inline-block;
                font-size: 0.8em;

                @include bp-small-max {

                    a:link,
                    a:visited {
                        color: $alt-font-color-1;
                    }
                }

                @include bp-small {
                    display: block;
                    font-size: 1em;
                }
            }

            a.thread__latest-post__date {
                display: block;
                font-size: 0.8em;
                color: $alt-font-color-1;
            }
        }
    }
}
