.user-list {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include bp-medium {
        flex-direction: row;
    }

    &__user {
        border: 1px solid $border-1;
        padding: 12px;
        margin: side-values(0 0 12px 0);
        border-radius: 4px;
        width: 100%;
        box-sizing: border-box;

        @include bp-medium {
            width: 49%;
        }
    }

    .avatar-profile-link {
        float: $left;
        margin: side-values(0 16px 0 0);
        @include avatar(80);
    }

    &__username {
        margin: 0;
        font-size: 1.2em;
    }

    &__user-title {
        font-size: 0.9em;
        font-weight: normal;
        margin: 0;
    }

    &__data {
        margin: 0;
        padding: 0;
        font-size: 0.8em;
        color: $alt-font-color-2;

        // would prefer to be .user-list__data__link, though currently not supported by templates
        a {
            color: $alt-font-color-1;
        }
    }

    .team-badge {
        float: right;
        position: relative;
        margin: side-values(-48px 0 0 0);
    }

    .stats {
        font-size: 0.8em;
    }

    &--online-now {

        .user-list__user {

            .avatar-profile-link {
                @include avatar(50);
            }

            &__date {
                float: right;
            }
        }
    }

    .sort-results {
        margin: side-values(0 -12px 0 -12px);
    }

    &--compact {

        &__user {
            display: inline-block;
            margin: side-values(0 12px 10px 0);

            .avatar {
                width: 24px;
                height: 24px;
                margin: side-values(-2px 8px 0 0);
            }
        }

        .error-no-results {
            padding: 10px 0;
            font-size: 1em;
        }
    }
}

.user-alphabet {
    background: $background-1;
    border-radius: $radius;
    padding: 12px;

    &__letter {
        padding: 5px;
        margin-#{$right}: 5px;
    }
}

.team-badge {
    padding: 3px 8px;
    border: 1px solid $border-1;
    color: $alt-font-color-1;
    display: inline;
    line-height: 1.6;
    font-size: 0.7em;
    border-radius: 4px;
}
