.global-search {

    &__checkbox {
        display: none;
    }

    &__mobile-search-button,
    &__mobile-search-close-button {
        float: $right;
        color: $alt-font-color-1;
        font-size: 1.2em;
        display: none;
        padding: 12px 8px;
        margin-#{$right}: 0px;

        &:hover,
        &:active {
            color: $secondary-color;
            cursor: pointer;
        }
    }

    &__mobile-search-button {

        @include bp-medium-max {
            display: inline-block;
        }
    }

    &__container {
        display: none;
        clear: both;
        cursor: text;
        background: $background-default;
        padding: side-values(2px 0 2px 8px);
        margin: side-values(0 0 10px 0);
        border: 1px solid $border-1;
        width: auto;
        border-radius: 4px;
        box-sizing: border-box;

        @include bp-medium {
            float: $right;
            display: block;
            width: 35%;
            clear: none;
            margin-top: 6px;
            margin-bottom: 6px;
        }
    }

    &__label {
        cursor: text;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
    }

    .global-search__field {    // nesting required
        border: 0;
        padding: 4px;
        margin: 0;
        font-size: 16px;
        outline: 0;
        box-sizing: border-box;
        flex-grow: 1;
        min-width: 0;
    }

    &__controls {
        text-align: $right;
        padding-#{$right}: 8px;
        box-sizing: border-box;
        flex-shrink: 0;
    }

    &__submit,
    &__advanced {
        height: 24px;
        margin: side-values(0 0 0 6px);
        padding: 2px 0;
        border: 0;
        cursor: pointer;
        background: none;
        font-size: 16px;
        color: $alt-font-color-2;
        display: inline-block;

        &:link,
        &:visited {
            color: $alt-font-color-2;
        }

        &:hover,
        &:active {
            color: $alt-font-color-1;
        }
    }
}

#show-mobile-search:checked ~ .global-search__mobile-search-button {
    display: none;
}

#show-mobile-search:checked ~ .global-search__mobile-search-close-button {

    @include bp-medium-max {
        display: inline-block;
    }
}

#show-mobile-search:checked ~ .global-search__container {
    display: block;
}
