.user-bar {
    clear: both;
    min-height: 50px;
    background: $background-2;

    .wrapper {
        padding: 0;
    }

    &__links {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__item {
        float: $left;
        margin: 0;
        padding: 12px 4px;
        position: relative;

        &--active-user {
            border-left: 1px solid transparent;
            border-right: 1px solid transparent;
        }
    }

    &__link {

        &,
        &:link,
        &:visited {
            color: $alt-font-color-1;
            padding: 2px 8px;
            display: inline-block;
            margin: side-values(-3px 0 -2px 0);
            border-radius: 4px;
        }

        &:hover,
        &:active {
            color: $secondary-color;
            text-decoration: none;
            cursor: pointer;
        }
    }

    &__icon {
        margin-#{$right}: 4px;

        // @include bp-medium-max {
            font-size: 1.2em;
            margin-bottom: -2px;
        // }
    }

    &__text {
        display: none;

        @include bp-large {
            display: inline-block;
        }
    }

    &__caret {
        display: inline;
        font-size: 14px;

        &--up {
            display: none;
        }
    }

    &__unread-count {
        background: $unread-count;
        color: $invert-font-color;
        border-radius: 2px;
        padding: side-values(1px 5px 2px 5px);
        margin: side-values(0 0 0 3px);
        font-weight: normal;
        font-size: 0.7em;
        text-decoration: none;
        vertical-align: middle;
    }

    &__checkbox {
        display: none;
    }

    &__dropdown {
        display: none;
        background: $background-1;
        border-radius: corner-values(0 0 4px 4px);
        padding: side-values(6px 12px 6px 12px);
        border: 1px solid $border-1;
        border-top: none;
        font-size: 0.9em;
        top: 50px;
        #{$left}: -1px;
        width: 250px;
        position: absolute;

        .avatar-profile-link {
            float: $right;
            margin: side-values(6px 0 0 0);
            @include avatar(80);
        }
    }
}

#show-user-dropdown:checked ~ .user-bar__item--active-user {
    background: $background-1;
    border-left: 1px solid $border-1;
    border-right: 1px solid $border-1;

    .user-bar__dropdown {
        display: block;
    }

    .user-bar__caret {

        &--up {
            display: inline;
        }

        &--down {
            display: none;
        }
    }
}

.account-links {
    margin: 0;
    padding: 0;
    list-style: none;

    &__item {
        float: none;
        margin: 0;
        padding: 0;
        display: block;
        border-bottom: 1px solid $border-1;

        &:last-child {
            border-bottom: 0;
        }
    }

    &__link {
        display: block;
        margin: 0;
        padding: 4px;
        float: none;
        border-#{$left}: 0;
        text-align: $left;
        background: transparent;

        &:hover,
        &:active {
            text-decoration: none;
        }
    }

    &__icon {
        margin-#{$right}: 4px;
    }
}
