// not currently used, likely will adopt soon
.avatar-profile-link,
.avatar {
    &--smallest {
        width: 40px;
        height: 40px;
    }

    &--small {
        width: 50px;
        height: 50px;
    }

    &--medium {
        width: 80px;
        height: 80px;
    }

    &--large {
        width: 100px;
        height: 100px;
    }

    &--largest {
        width: 200px;
        height: 200px;
    }
}

.avatar {
    border-radius: $radius;

    &--default {
        background: $background-3;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__icon {
        // font-size: 3em;
        color: $alt-font-color-3;
    }
}
