.page-tabs {
    list-style: none;
    margin: side-values(0 0 20px 0);
    border-radius: 4px;
    background: $background-1;
    padding: side-values(8px 8px 0 8px);

    &__item {
        display: inline-block;
        margin: side-values(0 8px 8px 0);

        &--active {

            .page-tabs__link {
                color: $invert-font-color;
                font-weight: bold;
                background: $primary-color;
                text-decoration: none;
            }
        }
    }

    &__link {
        padding: 4px 8px;
        display: inline-block;
        background: $background-1;
        border-radius: 3px;

        &:hover {
            text-decoration: none;
            background: $secondary-color;
            color: $invert-font-color;
        }
    }

    &__icon {
        margin-#{$right}: 4px;
    }
}
