.block {
    margin-bottom: 30px;

    &__header {
        font-size: 1.2em;
        font-family: $alt-font-stack;
        border-bottom: 1px solid $border-1;
        padding: 8px;
        margin: side-values(0 0 5px 0);

        &--major {
            background: $primary-color;
            color: $invert-font-color;
            border: 0;
            padding: 8px 12px;
            margin-bottom: 0;
            border-radius: 4px;

            a:link,
            a:visited,
            a:hover {
                color: $invert-font-color;
            }
        }
    }

    &__row {
        padding: 8px 12px;
        border-bottom: 1px solid $border-1;
    }

    &__title {
        font-size: 1em;
        font-weight: normal;
        padding: 8px;
        margin: side-values(-8px -12px 12px -12px);
        background: $background-1;
    }

    &__content {
        padding: 10px 0;
    }

    &--container {
        border: 1px solid $border-1;
        border-radius: 4px;
        padding: 12px;

        .sort-results {
            border-width: 0;
            border-top-width: 2px;
        }
    }

    &__body {
        padding: 12px;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.sort-results {
    text-align: center;
    padding: 8px 12px;
    clear: both;
    background-color: $background-2;
    border-radius: $radius;
    margin-bottom: 20px;

    .select-field,
    .button {
        margin: 3px;
    }

    &__title {
        display: inline-block;
        margin: side-values(0 10px 0 0);
        padding: 0;
        font-weight: normal;
        color: $alt-font-color-1;
        font-size: 0.9em;

        &:after {
            content: ":";
        }
    }
}

dl.stats {
    line-height: 1.6;
    margin: 0;
    font-size: 0.9em;
    display: table-cell;

    dt {
        float: $left;
        margin: side-values(0 8px 0 0);
        color: $alt-font-color-2;

        &:after {
            content: ":";
        }
    }

    dd {
        padding: 0;
        margin: 0;
        display: table-cell;
    }
}

.error-no-results {
    text-align: center;
    padding: 30px;
    font-size: 1.2em;
    color: $alt-font-color-1;
}

.page-controls {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 10px;
    flex-direction: column;

    &--top {
        margin-top: -10px;

        .pagination {
            margin-bottom: 0;
        }
    }

    .page-buttons {
        margin-#{$left}: -5px;
        margin-#{$right}: -5px;
    }

    @include bp-medium {
        flex-direction: row;

        .page-buttons {
            order: 2;
            margin-#{$left}: auto;
            margin-#{$right}: -5px;
        }
    }
}

.board-statistics {
    border: 1px solid $border-1;
    border-radius: $radius;

    &__section {
        border-bottom: 1px solid $border-1;
        padding: side-values(20px 12px 20px 50px);

        &:last-child {
            border-bottom: none;
        }
    }

    &__title {
        font-weight: normal;
        font-family: $alt-font-stack;
        margin: 0;
        padding: side-values(0 0 4px 0);
        border-bottom: 1px solid $border-3;
    }

    &__icon {
        color: $alt-font-color-2;
        float: $left;
        margin-#{$left}: -36px;
        margin-top: 4px;
    }

    &__body {
        font-size: 0.9em;
        margin-top: 10px;
        margin-bottom: 0;

        &--active-note {
            color: $alt-font-color-1;
            border-bottom: 1px solid $border-3;
            padding-bottom: 10px;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: none;
            }
        }
    }
}
