.block {
    margin-bottom: 30px;

    &__content {
        padding: 10px 0;
    }

    &--container {
        border: 1px solid $border-1;
        border-radius: $radius;
        padding: 12px;

        .sort-results {
            border-width: 0;
            border-top-width: 2px;
        }
    }

    &--sidebar {
        border: 1px solid $border-1;
        padding: 12px 15px;
        border-radius: $radius;
    }

    &__body {
        padding: 12px;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &__footer-link {
        text-align: center;
        padding: 8px;

        a:link,
        a:hover,
        a:active {
            text-decoration: none;
        }

        .icon {
            margin-#{$right}: 4px;
        }
    }
}

.section {
    @include clearfix();
    padding: 16px 12px;
    border-bottom: 1px solid $border-1;

    @include bp-medium {
        padding: 20px 12px;
    }

    &:last-child {
        border-bottom: 0;
    }

    &__container {

        @include bp-medium {
            float: $left;
            margin: side-values(0 0 0 3%);
            padding: side-values(0 0 0 20px);
            border-#{$left}: 1px dotted $border-2;
            width: 74%;
            box-sizing: border-box;
        }
    }
}

.container {
    @include container;
}

.title.title--container {
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid $border-1;
}

.page-controls {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 10px;
    flex-direction: column;

    &--top {
        margin-top: -10px;

        .pagination {
            margin-bottom: 0;
        }
    }

    .page-buttons {
        margin-#{$left}: -5px;
        margin-#{$right}: -5px;
    }

    @include bp-medium {
        flex-direction: row;

        .page-buttons {
            order: 2;
            margin-#{$left}: auto;
            margin-#{$right}: -5px;
        }
    }
}

.board-statistics {
    border: 1px solid $border-1;
    border-radius: $radius;

    &__section {
        border-bottom: 1px solid $border-1;
        padding: side-values(20px 12px 20px 50px);

        &:last-child {
            border-bottom: none;
        }
    }

    &__title {
        font-weight: normal;
        font-family: $alt-font-stack;
        margin: 0;
        padding: side-values(0 0 4px 0);
        border-bottom: 1px solid $border-3;
    }

    &__icon {
        color: $alt-font-color-2;
        float: $left;
        margin-#{$left}: -36px;
        margin-top: 4px;
    }

    &__body {
        font-size: 0.9em;
        margin-top: 10px;
        margin-bottom: 0;

        &--active-note {
            color: $alt-font-color-1;
            border-bottom: 1px solid $border-3;
            padding-bottom: 10px;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: none;
            }
        }
    }
}
