.block {
    margin-bottom: 30px;

    &__heading {
        font-size: 1.2em;
        border-bottom: 1px solid $border-1;
        padding: 8px;
        margin: side-values(0 0 5px 0);

        &--linked {
            border-bottom: 0;
            padding: 0;

            &__link {
                padding: 8px 12px;
                border-bottom: 1px solid $border-1;
                display: block;

                .count {
                    float: $right;
                    font-size: 0.8em;
                    color: $alt-font-color-1;
                    font-weight: normal;
                }
            }
        }

        &--major {
            background: $primary-color;
            color: $invert-font-color;
            border: 0;
            padding: 8px 12px;
            margin-bottom: 0;
            border-radius: 4px;

            a:link,
            a:visited,
            a:hover,
            a:active {
                color: $invert-font-color;
            }

            &.block__heading--linked {
                padding: 0;

                .block__heading--linked__link {
                    border: none;
                    color: $invert-font-color;

                    &:link,
                    &:hover {
                        color: $invert-font-color;
                    }

                    .count {
                        @include white-transparency(0.7);
                    }
                }
            }
        }
    }

    &--container {
        border: 1px solid $border-1;
        border-radius: 4px;
        padding: 12px;

        .sort-results {
            border-width: 0;
            border-top-width: 2px;
        }
    }

    &__body {
        padding: 12px;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.sort-results {
    text-align: center;
    padding: 8px 12px;
    clear: both;
    background-color: $background-2;
    border-radius: $radius;

    .select-field,
    .button {
        margin: 3px;
    }

    &__title {
        display: inline-block;
        margin: side-values(0 10px 0 0);
        padding: 0;
        font-weight: normal;
        color: $alt-font-color-1;
        font-size: 0.9em;

        &:after {
            content: ":";
        }
    }
}

.page-tabs {
    list-style: none;
    margin: side-values(0 0 20px 0);
    border-radius: 4px;
    background: $background-1;
    padding: side-values(8px 8px 0 8px);

    &__item {
        display: inline-block;
        margin: side-values(0 8px 8px 0);

        &--active {

            .page-tabs__link {
                color: $invert-font-color;
                font-weight: bold;
                background: $primary-color;
                text-decoration: none;
            }
        }
    }

    &__link {
        padding: 4px 8px;
        display: inline-block;
        background: $background-1;
        border-radius: 3px;

        &:hover,
        &:active {
            text-decoration: none;
            background: $secondary-color;
            color: $invert-font-color;
        }
    }

    &__icon {
        margin-#{$right}: 4px;
    }
}

dl.stats {
    line-height: 1.6;
    margin: 0;
    font-size: 0.9em;
    display: table-cell;

    dt {
        float: $left;
        margin: side-values(0 8px 0 0);
        color: $alt-font-color-2;

        &:after {
            content: ":";
        }
    }

    dd {
        padding: 0;
        margin: 0;
        display: table-cell;
    }
}

.error-no-results {
    text-align: center;
    padding: 30px;
    font-size: 1.2em;
    color: $alt-font-color-1;
}

.page-buttons {
    @include clearfix();
    margin: side-values(-10px 0 15px 0);
    text-align: center;

    @include bp-medium {
        float: $right;
        margin: side-values(-45px -5px 8px 0);
    }
}

.page-controls {

    @include bp-medium {
        @include clearfix();

        .page-buttons {
            margin-top: 0;
        }

        .pagination + .page-buttons {
            margin-top: 0;
        }
    }
}

header + .page-controls {
    @include bp-medium {
        margin-top: -20px;

        .page-buttons {
            margin-top: -30px;
        }
    }
}

.users-browsing {
    @include container;
    margin-bottom: 20px;
    font-size: 0.9em;
}
