.post-control {
    color: $alt-font-color-2;
    padding: 0 7px;
    background-color: transparent;
    border: none;
    font-size: 0.8em;

    &__icon {
        margin-#{$right}: 6px;
    }

    &:link,
    &:visited {
        color: $alt-font-color-2;
    }

    &:hover {
        color: $link-hover;
        text-decoration: none;
        cursor: pointer;
    }

    &.postbit_multiquote_on {
        color: $link-hover;
        background: $background-default;
        border-radius: $radius;
        margin-top: -1px;
        margin-bottom: -1px;
        padding-top: 1px;
        padding-bottom: 1px;
    }
}

.post-controls {
    display: flex;

    &--secondary {

        @include bp-large-max {

            .post-control__icon {
                margin-#{$right}: 0;
            }

            .post-control__text {
                display: none;
            }
        }
    }
}
