.post-control {
    color: $alt-font-color-2;
    padding: 0 7px;
    background-color: transparent;
    border: none;
    font-size: 0.8em;
    display: inline-block;

    &__icon {
        margin-#{$right}: 6px;
    }

    &:link,
    &:visited {
        color: $alt-font-color-2;
    }

    &:hover {
        color: $link-hover;
        text-decoration: none;
        cursor: pointer;
    }

    &.postbit_multiquote_on {
        color: $link-hover;
        background: $background-default;
        border-radius: $radius;
        margin-top: -1px;
        margin-bottom: -1px;
        padding-top: 1px;
        padding-bottom: 1px;
    }
}

.post-controls {
    // display: flex;
    flex-grow: 1;

    &--secondary {
        text-align: $right;

        // @include bp-large-max {
        //
        //     .post-control__icon {
        //         margin-#{$right}: 0;
        //     }
        //
        //     .post-control__text {
        //         display: none;
        //     }
        // }
    }
}

.post-options {
    position: relative;

    &__control {
        // position: absolute;
        // right: 0;
        //
        .post-control__icon {
            margin-#{$right}: 0;
        }
    }

    &__checkbox {
        display: none;
    }

    &__list {
        display: none;
    }

    .post-options__checkbox:checked ~ .post-options__list {
        display: block;
        position: absolute;
        top: 30px;
        right: 0px;
        border: 1px solid $border-1;
        border-radius: $radius;
        background: $background-1;
        z-index: 10;

        .post-control {
            display: block;
            border-bottom: 1px solid $border-1;
            padding-#{$right}: 20px;
            text-align: $left;

            &:last-child {
                border-bottom: none;
            }
        }
    }
}
