.row {
    line-height: 1.4;
    padding: 14px 12px;
    border-bottom: 1px solid $border-1;
    position: relative;

    &--form {
        padding: 18px 12px;

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            border-bottom: 0;
            padding-bottom: 6px;
        }
    }

    &--form.row--no-border {
        border-bottom: none;
    }

    &--form.row--border-top {
        border-top: 1px solid $border-1;
        padding-top: 12px;
    }

    &--simple-columns {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        @include bp-small {
            flex-direction: row;
            align-items: center;
        }
    }

    &__secondary {

        @include bp-small-max {
            margin-top: 6px;
            padding: side-values(8px 10px);
            background: $background-1;
            border-radius: $radius;
        }
    }

    &__controls {

        @include bp-small-max {
            margin-top: 6px;
        }
    }

    &__select-control {

        @include bp-small-max {
            float: $right;
            position: absolute;
            top: 14px;
            right: 12px;
        }
    }
}
