.section-menu {

    @include bp-medium {
        float: $left;
        width: 22%;
        margin-#{$right}: 3%;
    }

    &__links {
        margin: side-values(0 0 15px 0);
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        @include bp-medium {
            margin: 0;
        }
    }

    &__item {
        width: 49%;
        margin-bottom: 8px;

        @include bp-medium {
            width: 100%;
            margin-bottom: 4px;
        }

        &--active {

            .section-menu__link {
                background-color: $primary-color;
                border-color: $primary-color;
                color: $invert-font-color;
            }
        }
    }

    &__link {
        background: $background-1;
        display: block;
        padding: side-values(12px 8px 8px 8px);
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;

        @include bp-medium {
            padding: 2px 8px;
            flex-direction: row;
        }

        &:link,
        &:visited {
            text-decoration: none;
        }

        &:hover {
            background-color: $button-hover;
            border-color: $button-hover;
            color: $invert-font-color;
        }
    }

    &__icon {
        font-size: 1.5em;
        margin-bottom: 5px;

        @include bp-medium {
            font-size: 1em;
            margin-bottom: 0;
            margin-#{$right}: 8px;
        }
    }

    &__text {

    }
}
