.tag {
    background: $background-3;
    text-transform: uppercase;
    border-radius: $radius;
    display: inline-block;
    padding: 2px 8px;
    font-size: 0.9rem;
    color: $alt-font-color-1;

    &--float {
        float: $right;
    }

    &--good {
        background-color: $success-color;
        color: $invert-font-color;
    }

    &--medium {
        background-color: $moderate-color;
        color: $invert-font-color;
    }

    &--bad {
        background-color: $danger-color;
        color: $invert-font-color;
    }

    &--thread-prefix {
        margin-#{$right}: 5px;
    }

    &--thread-status {
        margin-#{$left}: 5px;
        font-size: 0.75rem;
    }

    &--post-status {
        margin-bottom: 10px;
    }

    &--deleted {
        background-color: $status-deleted;
        color: $status-deleted-font-color;
    }

    &--awaiting-approval {
        background-color: $status-pending;
        color: $status-pending-font-color;
    }
}
