.title {
    font-family: $alt-font-stack;
    font-weight: bold;
    font-size: 1.4em;
    margin: 0;
    padding: 0;

    &--block {
        border-bottom: 1px solid $border-1;
    }

    &--sidebar {
        border-bottom: 1px solid $border-1;
        padding-bottom: 8px;
    }

    &--major {
        background: $primary-color;
        color: $invert-font-color;
        border: 0;
        padding: 8px 12px;
        margin-bottom: 0;
        border-radius: 4px;
        font-size: 1.2em;

        a:link,
        a:visited,
        a:hover {
            color: $invert-font-color;
        }
    }

    &--section {
        margin: side-values(0 0 12px 0);
        padding: side-values(0 8px 8px 8px);
        font-family: $alt-font-stack;
        font-size: 1.1em;
        border-bottom: 1px dotted $border-2;

        @include bp-medium {
            border: 0;
            float: $left;
            margin: 0;
            padding: 0;
            width: 20%;
            text-align: $right;
        }
    }
}
