.title {
    font-family: $alt-font-stack;
    font-weight: bold;
    font-size: 1.4em;
    margin: 0;
    padding: 0;
    
    &--block {
        border-bottom: 1px solid $border-1;
    }

    &--sidebar {
        border-bottom: 1px solid $border-1;
        padding-bottom: 8px;
    }

    &--major {
        background: $primary-color;
        color: $invert-font-color;
        border: 0;
        padding: 8px 12px;
        margin-bottom: 0;
        border-radius: 4px;
        font-size: 1.2em;

        a:link,
        a:visited,
        a:hover {
            color: $invert-font-color;
        }
    }
}
